.offers {
    margin-bottom: 140px;

    @media screen and (max-width: 768px) {
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__subtitle {
        max-width: 660px;
        text-align: center;
        margin: 0 auto;
    }

    .card {
        width: 100%;
        max-width: 262px;
        border: none;

        &__title {
            font-family: Gelasio;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            color: $black;
            margin-bottom: 8px;

            @media screen and (max-width: 565px) {
                font-size: 20px;
                font-weight: 600;
            }
        }

        &__img {
            margin-bottom: 20px;
        }

        &__location {
            display: flex;
            gap: 7px;
            margin-right: 50px;
            margin-bottom: 8px;
        }

        &__location-city {
            font-size: 20px;
            line-height: 30px;
            color: $black;
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 8px;
        }

        &__rating-num {
            color: $black;
        }

        &__duration {
            font-size: 16px;
            line-height: 24px;
            color: $black;
            margin-bottom: 8px;
        }

        &__price {
            font-size: 16px;
            line-height: 24px;
            color: $black;

            span {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }
}
