.offers {
    margin-bottom: 140px;

    @media screen and (max-width: 768px) {
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 20px;
    }

    &__subtitle {
        max-width: 660px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 52px;
        padding: 0 15px;

        @media screen and (max-width: 870px) {
            justify-content: space-evenly;
        }

        & > div:last-of-type {
            @media screen and (max-width: 1380px) {
                display: none;
            }
        }

        & > div:nth-last-of-type(4) {
            @media screen and (max-width: 1130px) {
                display: none;
            }
        }

        & > div:nth-last-of-type(3) {
            @media screen and (max-width: 870px) {
                display: none;
            }
        }

        & > div:nth-last-of-type(2) {
            @media screen and (max-width: 600px) {
                display: none;
            }
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 35px;
        }
    }

    .card {
        width: 100%;
        max-width: 262px;
        border: none;

        &__title {
            font-family: Gelasio;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            color: $black;
            margin-bottom: 8px;
        }

        &__img {
            margin-bottom: 20px;
        }

        &__location {
            display: flex;
            gap: 7px;
            margin-right: 50px;
            margin-bottom: 8px;
        }

        &__location-city {
            font-size: 20px;
            line-height: 30px;
            color: $black;
        }

        &__rating {
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 8px;
        }

        &__rating-num {
            color: $black;
        }

        &__duration {
            font-size: 16px;
            line-height: 24px;
            color: $black;
            margin-bottom: 8px;
        }

        &__price {
            font-size: 16px;
            line-height: 24px;
            color: $black;

            span {
                font-weight: 500;
                font-size: 18px;
            }
        }
    }

    .pagination {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 400px;
        margin: 0 auto;

        &__item {
            width: 75px;
            height: 5px;
            border-radius: 10px;
            background: #c9453b1a;

            &--active {
                background: #c9453b;
            }
        }

        &__bar {
            display: flex;
            gap: 5px;
        }
    }
}

// .offers__content > div:last-of-type {
//     display: none;
// }
