@import './variables';

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-container {
    display: flex;
}

.logo {
    font-family: Ribeye;
    font-size: 24px;

    &--black {
        color: $black;
    }

    @media screen and (max-width: 850px) {
        width: 70%;
    }
}

.title {
    font-family: Gelasio;
    font-size: 43px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    color: $black;

    @media screen and (max-width: 565px) {
        font-size: 25px;
    }
}

.text {
    font-size: 18px;
    line-height: 29px;
    color: $black;
}

.button {
    width: 100%;
    border-radius: 5px;
    background-color: $brown;
    color: $white;
    transition: filter 0.3s linear;

    &--booking {
        max-width: 163px;
        height: 51px;
    }

    &--explore {
        max-width: 187px;
        height: 59px;
    }

    &--form {
        max-width: 103px;
        height: 44px;
    }

    &--hamburger {
        display: none;
        @media screen and (max-width: 850px) {
            display: block;
        }
    }

    &:hover {
        filter: $hover;
    }

    @media screen and (max-width: 425px) {
        max-width: 130px;
        height: 42px;
    }
}
